{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="center">About</div>

    <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quam, iste quas modi exercitationem aut fuga commodi. Corporis, labore voluptates vitae error temporibus exercitationem suscipit unde rem aliquid optio maiores, voluptatem vel harum et dolorum quis soluta numquam eius a! Hic sequi inventore nostrum, explicabo, optio,
         error rem odit ex commodi ab numquam soluta
         ut. Quaerat id facilis culpa provident et. Consequatur aspernatur ea tempora eligendi et. Voluptas enim impedit earum et
          officiis! Ducimus provident nostrum placeat magni unde, recusandae ipsam ab minus voluptates temporibus vel soluta, voluptatem nesciunt magnam animi labore nihil deserunt maxime, esse exercitationem nemo! Similique ratione minima 
        repudiandae animi reiciendis quod
         facere! Ipsum nihil aliquam excepturi. Officia odio aperiam deleniti quod placeat eligendi voluptatum nostrum nihil. Accusamus sit beatae sint quidem 
         asperiores suscipit tempore, facilis veritatis facere. Assumenda, adipisci quod dolore explicabo maiores nisi facilis, nesciunt impedit eius pariatur omnis officiis. Officia, 
         eligendi magnam voluptas fugit 
         accusamus voluptate eum inventore cum repudiandae minus aperiam earum officiis sed. Magnam iure ullam neque iste, ad ex, quod aut minima voluptatibus fugit numquam pariatur, exercitationem vitae in ratione natus possimus illum veritatis excepturi perferendis quis consequuntur totam similique quia. Commodi, minima earum iure quaerat facilis et necessitatibus nemo consequuntur?</p>
</div>

{% endblock %}